<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.mapper.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.li.pojo.Subject">
    <constructor>
      <arg column="subjectId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subjectName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="subjectHours" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.li.pojo.Subject">
    insert into subject (subjectId, subjectName, subjectHours
      )
    values (#{subjectid,jdbcType=INTEGER}, #{subjectname,jdbcType=VARCHAR}, #{subjecthours,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.li.pojo.Subject">
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        subjectId,
      </if>
      <if test="subjectname != null">
        subjectName,
      </if>
      <if test="subjecthours != null">
        subjectHours,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectid != null">
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="subjectname != null">
        #{subjectname,jdbcType=VARCHAR},
      </if>
      <if test="subjecthours != null">
        #{subjecthours,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.li.pojo.Subject">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="subject_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, subject_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.li.pojo.Subject">
    insert into subject (id, subject_name)
    values (#{id,jdbcType=INTEGER}, #{subjectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.li.pojo.Subject">
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subjectName != null">
        subject_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null">
        #{subjectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.li.pojo.Subject">
    update subject
    <set>
      <if test="subjectName != null">
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.li.pojo.Subject">
    update subject
    set subject_name = #{subjectName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>